.logo-title {
  float: left;
  font-family: "Satisfy";
}

.centre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#navbarNav {
  float: right;
  margin-top: 10px;
}

.modal-font {
  font-family: "Josefin Sans";
}

.navbar-brand {
  font-size: 36px !important;
  float: left !important;
  color: blue !important;
}

.logo-tag {
  font-size: 14px !important;
  float: left !important;
}
